.addMonster {
  width: 50vw;
  overflow: hidden;
  margin: auto;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: center;
  background-color: lightgray;
  outline: none;
}

input:focus {
border: 2px solid hsl(200 100%, 50%);
}

ul {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: lightgray;
  max-width: 250px;
  scrollbar-width: none;
}

li {
  color: black;
  cursor: default;
  padding: 3px 10px;
  transition: transform ease-out 200ms;
  transition: background-color ease-out 500ms;
}

li:hover {
  background-color: hsl(200 40%, 70%);
  border-radius: 10px;
  transform: scale(1.1);
}
