@font-face {
  font-family: 'PirataOne';
  src: url('/src/font/PirataOne.ttf');
}

.monsterBanner {
  font-family: 'PirataOne';
  flex-shrink: 0;
  width: 300px;
  font-size: 30px;
  text-align: center;
  background-color: silver;
  position: relative;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 6px 1px rgb(129, 129, 129);
}

.icon {
  width: 100px;
  position: absolute;
  top: -10px;
  transform: translate(-50%, -50%);
}

.monsterHeader {
  color: rgb(102, 102, 102);
  display: flex;
  position: relative;
}

.level {
  position: absolute;
  color: black;
  padding: 0;
  margin: 0;
  margin-left: 13px;
}

.name {
  padding: 0;
  margin: auto;
  margin-top: 30px;
}

.stats {
  display: flex;
  background-color: rgb(107, 107, 107);
  margin: auto;
  border-radius: 5px;
}

.numbers {
  margin: auto;
  padding: 0;
  display: flex;
  background-color: rgb(61, 61, 61);
  padding: 0 5px;
}

.normalInfo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-right: 10px;
}

.normalInfo > p {
  margin: auto;
  display: inline-block;
}

.statIcons {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.statIcons > img {
  width: 30px;
  margin: 3px;
  padding: 0;
  margin: 2px auto;
}

.eliteInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.eliteInfo > p {
  margin: auto;
  color: rgb(230, 217, 44);
}

.flying {
  position: absolute;
  align-self: center;
  margin-left: 255px;
  margin-bottom: 20px;
}

.attr {
  font-size: 20px;
  width: 100px;
}

.normAttr {
  display: flex;
  align-items: center;
}

.eliteAttr {
  display: flex;
  align-items: center;
  justify-content: right;
}

.attrIcon {
  width: 40px;
  margin: 3px;
}

.attrNum {
  margin: 0;
  padding: 0;
}

.eliteRangeRet {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}

.eliteRangeRet > img {
  width: 30px;
}

.eliteRangeRet > span {
  font-size: 16px;
  margin: 0 2px;
}

.normRangeRet {
  margin: 0;
  display: flex;
  align-items: center;
}

.normRangeRet > img {
  width: 30px;
}

.normRangeRet > span {
  font-size: 16px;
  margin: 0 2px;
}
